$def with (page)
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/datatables.min.css"/>
    <title>Arturo Ramirez P. Proyecto final!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0101DF;">
        <a class="navbar-brand text-white link" href="/acercade">ARP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white link" href="/">Principal <span class="sr-only">(current)</span></a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link text-white link" href="/insert">Insertar</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        $:page
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/mensage.js"></script>
    <script type="text/javascript" src="../../static/js/datatables.min.js"></script>
</body>

</html>